/* Font style from google */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700&display=swap');

/* universal tags */
* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.btn-primary {
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    padding: 15px;
    cursor: pointer;
}

.text-lightGray {
    color: #727272;
}

.section-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}





/* header section starts */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}

nav ul li a {
    text-decoration: none;
    color: #424242;
}

/* banner sec starts */


.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    margin: 100px 0px;
}

.banner-description {
    margin: -50px 0px 30px 0px;
}

.banner img {
    width: 100%;
    margin-top: 20px;
}

/* banner section ends */
/* header section ends */

/* main section starts */
main {
    max-width: 1440px;
    margin: 70px auto;
}

/* teams sections */
.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-right: 70px;
    padding-left: 70px;

}

.teams-title {
    padding: 20px 0px;

}

.team-title-1 {
    font-size: 2.8rem;
    font-weight: 500;
}

.team-title-3 {
    color: #FF900E;
    font-size: 2.8rem;
    font-weight: 700;
}

.teams-description {
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 20px;
}

/* team section ends */

/* feature section starts */
.features {
    display: flex;
    margin-top: 130px;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}
.feature-title{
    margin-bottom: 30px;
    border-left: 5px solid #ff900e;
    padding-left: 20px;
}
.feature-cards {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin: 20px;
    padding: 20px;
}
.feature-cards-title{
    font-size: 1.2rem;
    font-weight: 600;
    color: #131313;
    margin-bottom: 10px;
}
.tenYearBadge{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 100px;
    border-radius: 8px;
    background-color: #FF900E;
    color: #fff;
    position: relative;
    bottom: 70px;
    right: 0px;
}
.feature-img img {
    height: 90%;
    margin-left: 90px;
}
.badge h3{
    font-size: 4rem;
    margin: 0;
}
.badge p{
    font-size: 1.5rem ;
}
/* facts card section starts */
.facts {
    margin: 100px 0px;
}

.fact-description {
    margin-bottom: 70px;
}

.fact-section {
    margin-bottom: 10px;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cards {
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 50px 30px;
    text-align: center;
}

.card-facts {
    font-size: 2.8rem;
    color: #424242;
    margin: 10px 0px;
}

.card-title {
    font-weight: 600;
    font-size: 1.2rem;
    color: #727272;
    margin-top: 5px;
}

/* sponsor section */
.sponsors {
    text-align: center;
}

.sponser-companys {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sponser-companys img {
    width: 165px;
    margin-bottom: 20px;
}

.sponsor-title {
    margin-bottom: 20px;
}

/* main section ends*/

/* media queries */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    .banner-title {
        font-size: 2rem;
    }

    nav,
    .teams-container,
    .facts-card-container,
    .sponser-companys {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .cards {
        margin-bottom: 10px;
    }

    .facts {
        text-align: center;
    }
}

@media screen and (min-width: 577px) and (max-width: 922px) {
    header {
        padding: 50px;
    }

    .banner-title {
        margin-bottom: 30px;
    }

    .banner-description {
        margin-top: 30px;
    }

    nav {
        flex-direction: column;
    }

    .teams-container {
        flex-direction: column-reverse;
    }

    .teams-content {
        margin-bottom: 30px;
    }
}