/* Font style from google */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700&display=swap');

/* universal tags */
* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.btn-primary {
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    padding: 15px;
    cursor: pointer;
}
.text-lightGray{
    color: #727272;
}
/* header section starts */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}

nav ul li a {
    text-decoration: none;
    color: #424242;
}

/* banner sec starts */


.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    margin: 100px 0px;
}

.banner-description {
    margin: -50px 0px 30px 0px;
}

.banner img {
    width: 100%;
    margin-top: 20px;
}

/* banner section ends */
/* header section ends */

/* main section starts */
main {
    max-width: 1440px;
    margin: 70px auto;
}

/* teams sections */
.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-right: 70px;
    padding-left: 70px;

}

.teams-title {
    padding: 20px 0px;

}

.team-title-1 {
    font-size: 2.8rem;
    font-weight: 500;
}

.team-title-2 {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.team-title-3 {
    color: #FF900E;
    font-size: 2.8rem;
    font-weight: 700;
}

.teams-description {
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 20px;
}

/* main section ends*/

/* media queries */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    .banner-title {
        font-size: 2rem;
    }

    nav,
    .teams-container
    {
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: 1fr ;
    }
    
}

@media screen and (min-width: 577px) and (max-width: 922px) {
    header {
        padding: 50px;
    }

    .banner-title {
        margin-bottom: 30px;
    }
    .banner-description{
        margin-top: 30px;
    }

    nav {
        flex-direction: column;
    }
    .teams-container{
        flex-direction:column-reverse ;
    }
    .teams-content{
        margin-bottom: 30px;
    }
}